<% content_for :stylesheets do %>
  <%= stylesheet_link_tag 'sessions/new' %>
<% end %>

<div class="small_content_box">
  <h1 class="lowered"><%= t('.please_login') %></h1>
  <p class="success_message"><%= t('.reason') %></p>
  <%= link_to t('.login'), cartodb_authorize_path, :class => 'main_action' %>
</div>

