@import 'main.fonts.scss';
@import 'main.mixins.scss';
@import 'mixins.css3.scss';
@import 'sessions/sessions.colors.scss';

body{
  background-color: $background;
  font-family: Arial;
  font-size: 16px;
  margin: 0;
}

div.small_content_box {
  width: 584px;
  margin: 0 auto;
  padding: 30px;
  background: #FFFFFF;
  @include border-radius(3px);
  @include shadow(0px 3px 3px #407292);

  h1 {
      margin: 0 0 15px 0;
      font-family: "MuseoSans500","Arial";
      font-size: 25px;
      font-weight: normal;
      color: #333333;
  }

  p {
      font-family: "MuseoSans500","Arial";
      font-size: 15px;
      font-weight: normal;
      color: #666666;
  }
}

div.help {
      margin: 15px 0 0 0;
      font-family: "MuseoSans500","Arial";
      font-size: 13px;
      font-weight: normal;
      color: #B6CDDC;
      text-align: center;

      a {
        color: $help_message;
      }
}


.main_action{
  @include inline-block;
  vertical-align: middle;
  margin: 0;
  padding: 7px 15px;
  border: 1px solid $main_action_border;
  font-family: "MuseoSans500","Arial";
  font-size: 19px;
  font-weight: normal;
  color: $main_action_font;
  text-shadow: 0 1px 0 $main_action_font_shadow;
  text-decoration: none;
  @include border-radius(4px);
  @include gradient($main_action_background_gradient_top, $main_action_background_gradient_bottom);

  &:hover{
    @include gradient($main_action_background_gradient_bottom, $main_action_background_gradient_top);
  }
  &:active{
    @include gradient($main_action_background_gradient_bottom, $main_action_background_gradient_top);
    @include inner-shadow(0 3px 3px rgba(102, 102, 102, 0.7));
  }

}

div.small_content_box {
  margin-top: 200px;
  height: 200px;
  background: #FFFFFF url(/assets/globe_with_clouds.png) no-repeat top right ;
}

div.small_content_box {
  h1.lowered {
    margin: 30px 0 15px;
  }
}

p.success_message {
  width: 300px;
  }

a.main_action {
  margin: 20px 0 0 0;
}
