@import 'main.fonts.scss';
@import 'main.mixins.scss';
@import 'mixins.css3.scss';
@import 'setup/setup.colors.scss';

div.shadowed {

  margin: 20px 0 0 0;
  padding: 20px;
  background: #DFE5EB;
  @include border-radius(3px);
  font-family: "MuseoSans500","Arial";
  font-size: 15px;
  color: #666666;

}

a.selector {
  @include inline-block;
  background: url(/images/select.png);
  color: $select_text;
  padding: 8px 10px;
  width: 189px;
  cursor: pointer;
}

ul.selector_values {
  position: absolute;
  display: none;
  overflow: auto;
  @include gradient(#FFFFFF, $select_bottom);
  border-left: 1px solid $select_border;
  border-right: 1px solid $select_border;
  border-bottom: 1px solid $select_border;
  @include border-radius(0 0 5px 5px);
  @include shadow(0px 2px 5px $select_shadow);

  li {
    @include inline-block;
    width: 180px;
    padding: 10px 10px;

    a {
      color: $select_text_list;
      text-decoration: none;
      &:hover{
        color: $select_text_highlighted;
      }
    }
  }
}

span#new_table{
  @include inline-block;
  margin: 7px;
}

a.main_action, input.main_action {
  margin: 20px 0 0 0;
}

a{
  color: #FF3366;
}

span.message {
      @include inline-block;
      padding: 7px 0 0 0;
      font-family: "Arial";
      font-size: 15px;
      font-style: italic;
      font-weight: normal;
      color: #999999;
}

table.data {

  width: 100%;
  margin: 20px 0 0 0;
  border: 1px solid #AFB9BE;

  th {
      padding: 10px;
      font-family: "Arial";
      font-size: 11px;
      font-weight: bold;
      text-align: left;
      color: #26465A;
      @include gradient($data_table_header_top, $data_table_header_bottom);
      text-transform: uppercase;
      text-shadow: 0 1px 0 #FFFFFF;
  }

  tr {
    padding: 20px;
    background-color: #FFFFFF;
    &:nth-child(odd) {
      background-color: #FAFAFA;
    }
  }

  td {
      padding: 20px 10px 20px 10px;
      border-top: 1px solid #E3E3E3;
      font-family: "Arial";
      font-size: 15px;
      font-weight: normal;
      color: #949494;

      &.first {
        border-top: 1px solid #CCCCCC;
      }
  }

}

.scroll_pane{
      width: 207px;
      max-height: 200px;
			overflow:auto;
			overflow-y: hidden;
			
  }
