form {
  margin-top: 10px; }
  form .field label {
    position: relative;
    display: block;
    width: 234px;
    font: normal 12px "Museo Sans";
    color: #333333;
    text-transform: uppercase; }
  form .field input {
    width: 552px;
    margin: 8px 0 25px 0;
    font-size: 19px;
    color: #999999; }
  form .field.last {
    margin: 0 0 0 10px; }
  form .field.database {
    width: 100%; }
  form .field.cartodb {
    width: 100%; }
    form .field.cartodb input {
      width: 461px; }
  form .submit {
    position: relative;
    width: 100%;
    height: 57px;
    text-align: right; }
    form .submit input {
      margin: 20px 0 0; }
    form .submit #spinner {
      position: absolute;
      right: 113px;
      bottom: 21px; }
