$background: #4780A5;
$links:      #FF3366;

$search_label_font:                   #999999;
$search_border:                       #CCCCCC;
$nextprev_background_gradient_top:    #4880A5;
$nextprev_background_gradient_bottom: #3A6988;
$nextprev_background_gradient_border: #000000;

$table_background:             #ECF2F6;
$table_header_gradient_top:    #DBE7EE;
$table_header_gradient_bottom: #D1DDE4;
$table_header_border_top:      #C2CCD2;
$table_header_border_bottom:   #A5AAAC;
$table_header_font:            #26465B;
$table_header_font_shadow:     #FFFFFF;
$table_item_background_odd:    #FFFFFF;
$table_item_background_even:   #FAFAFA;
$table_item_font:              rgba(102, 102, 102, 0.7);
$table_item_cell_border:       #E5E5E5;

$add_feature_background_gradient_top:    #95C700;
$add_feature_background_gradient_bottom: #88B600;
$add_feature_font:                       #FFFFFF;
$add_feature_font_shadow:                #537000;
$add_feature_border:                     #6E9400;

$pagination_currentpage_background: #FFFFFF;
$pagination_currentpage_font:       #666666;