@import 'main.vars.scss';
@import 'main.fonts.scss';
@import 'main.mixins.scss';
@import 'mixins.css3.scss';
@import 'admin.colors.scss';
@import 'admin.vars.scss';
@import 'admin/mixins.scss';


body{
  background-color: $background;
  font-family: Arial;
  font-size: 16px;
  margin: 0;
}

a{
  color: $links;
}

body > header{
  position: fixed;
  top: 0;
  width: 100%;
  height: 57px;
  margin-bottom: 60px;
  @include gradient($header_background_gradient_top, $header_background_gradient_bottom);
  @include shadow(0 5px 10px $header_shadow);
    z-index:100000;


  div#header_content{
    width: $app_width;
    margin: 0 auto;

    #logo{
      float: left;
      display: inline;
      font-family: "MuseoSans500","Arial";
      font-size: 19px;
      font-weight: normal;
      color: $logo;
      line-height: 55px;
      a{
        color: $nav;
        text-decoration: none;
      }
    }

    nav{
      float: right;

      ul{
        li{
          display: inline;
          margin: 0 20px;
          a{
            font-family: "MuseoSans500","Arial";
            font-weight: normal;
            color: $nav;
            text-decoration: none;
            line-height: 55px;
          }

          a.close_session{
            color: $session_links;
          }
        }
      }
    }
  }
}

body > div#main_content{

  width: $app_width;
  margin: 120px auto;
  overflow: hidden;

  div.table{
    width: 942px;
    margin: $box_margin;

    @include border-radius(3px);
    background-color: $table_background;

    font-size: 15px;

    .title{
      font-size: 25px;
      padding: 23px 30px;
      @include inline-block;
    }

    //Buttons for the footer of each box
    .main_action, .alternate_action, .pagination{
      @include inline-block;
      vertical-align: middle;
      margin: 25px 10px;
      padding: 7px 15px;
      font-size: 17px;
    }

    .main_action{
      margin-left: 30px;
      @include border-radius(4px);
      @include gradient($main_action_background_gradient_top, $main_action_background_gradient_bottom);
      border: 1px solid $main_action_border;
      font-family: "MuseoSans500","Arial";
      font-size: 19px;
      font-weight: normal;
      color: $main_action_font;
      text-shadow: 0 1px 0 $main_action_font_shadow;
      text-decoration: none;

      &:hover{
        @include gradient($main_action_background_gradient_bottom, $main_action_background_gradient_top);
      }
      &:active{
        @include gradient($main_action_background_gradient_bottom, $main_action_background_gradient_top);
        @include inner-shadow(0 3px 3px rgba(102, 102, 102, 0.7));
      }
    }

    .action_input {
      float: left;
      height: 18px;
      vertical-align: middle;
      padding: 6px 15px;
      margin-left: 0;
      @include border-radius(0 4px4px 0);
      @include gradient($main_action_background_gradient_top, $main_action_background_gradient_bottom);
      border: 1px solid $main_action_border;
      font-size: 15px;
      font-weight: normal;
      color: $main_action_font;
      text-shadow: 0 1px 0 $main_action_font_shadow;
      text-decoration: none;

      &:hover{
        @include gradient($main_action_background_gradient_bottom, $main_action_background_gradient_top);
      }
      &:active{
        @include gradient($main_action_background_gradient_bottom, $main_action_background_gradient_top);
        @include inner-shadow(0 3px 3px rgba(102, 102, 102, 0.7));
      }
    }

    .alternate_action{
      margin: 25px 0;
      padding: 10px 0;
    }

    .pagination{
      float: right;

      a{
        margin: 0 4px;
      }

      a.current{
        @include inline-block;
        padding: 0 5px;
        background-color: $pagination_currentpage_background;
        @include border-radius(2px);
        border: 1px solid transparent;
        font-weight: bold;
        color: $pagination_currentpage_font;
        text-decoration: none;
      }
    }
  }
}

body > div#main_content div.content_box {

  position: relative;
  width: 880px;
  padding: 30px;
  @include border-radius(5px);
  margin: 0;
  background-color: #FFFFFF;
  color: #333333;
  font-size: 15px;
  @include shadow(0px 3px 3px #407292);

  h1 {
    font-family: "MuseoSans500","Arial";
    font-size: 27px;
    font-weight: normal;
    color: #333333;
    margin: 0 0 30px 0;
  }

  .main_action {
    margin: 40px 0 0 0;
  }

  label {
    display: block;
    font-size: 11px;
    font-family: Arial;
    color: #999999;
    font-weight: bold;
    margin: 0 0 7px 0;
    text-transform: uppercase;
  }

  input{
    border: 0 none;
    font: normal 15px Arial;
    color: #999999;
    padding: 0 15px;
    margin: 0 0 25px 0;
  }

  input.string {
    width: 389px;
    @include sprite(-1px, -38px);
    height: 34px;
  }

  input.number{
    width: 120px;
    @include sprite(0, -74px);
    height: 36px;
  }

  input.date{
    width: 102px;
    @include sprite(0, -110px);
    height: 34px;
    display: none;
    cursor: pointer;

    &.active{
      @include sprite(-132px, -110px);
      margin: 0;
    }
  }

  a.radiobutton {
    display:inline-block;
    width: auto!important;
    padding:0 0 0 16px;
    margin:2px 0 0 0;
    font: normal 15px Arial;
    color: #333333;
    text-transform: capitalize;
    text-decoration:none;
    @include sprite(-410px,-12px);

    &:hover {
      @include sprite(-410px,4px);
    }

    &.selected {
      @include sprite(-410px,4px);
    }

    &.selected:hover {
      cursor:default;
    }
  }

  /* Spin buttons in input type number */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
      /*display: none; <- Crashes Chrome on hover */
      -webkit-appearance: none;
      margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
  }

  input.hidden {
    display:none;
  }

  div.date{
    height: 28px;
    width: 271px;
    padding: 20px;
    display: none;

    &.show{
      display: block;
    }

    &.active{
      @include sprite(-2px, -144px);
      margin: -4px 0 25px 1px;
    }

  }

  ul {
    list-style-type: none;

    li{
      margin: 7px 0;
      label{
        display: inline;
        margin: 5px 8px;
      }
      input{
        margin: 0;
      }
    }
  }

  div.side_bar {
    position: absolute;
    top: 0;
    right: 0;
    width: 231px;
    height: 100%;
    padding: 0 30px;
    border-left: 1px solid #b0b0b0;
    @include border-radius(0 5px 5px 0);
    background-color: #F5F5F5;

    a.back {
      position: absolute;
      top: 30px;
      right: 30px;
      font-size: 14px;
      padding: 0 0 0 21px ;

      span{
        @include sprite(0, -20px);
        padding: 0 8px;
        margin: 5px;
      }
    }

    div.delete {
      position: absolute;
      width: 230px;
      bottom: 30px;
      span {
        font-family: "MuseoSans500","Arial";
        font-size: 17px;
        font-weight: normal;
        color: #333333;
        line-height: 39px;
        margin: 10px 0;
      }

      p {
        font-family: "Arial";
        font-size: 13px;
        font-weight: normal;
        color: #666666;
        margin: 0 0 10px 0;
        line-height: 16px;
        width: 200px;
      }

      a {
        font-size: 15px;
      }
    }
  }


  /* file input */

  span.file_content {
    display:block;
    width:540px;
    height:25px;
    margin:20px 0 0 0;
    padding:13px;
    @include sprite(0, bottom);
  }

  .pf_wrap_class {
    height: 1%;
    overflow: hidden;
  }

  .pf_ph_cont {
    width: 34em;
    float: left;
    overflow: hidden;
  }

  .pf_ph_cont strong {
    float: left;
    font-size: x-small;
    padding: 0 0 0 0;
    width: 72px;
    height: 26px;
    @include sprite(-35px, 0);
  }

  .pf_ph_cont strong span {
    display: none;
  }

  .pf_ph {
    float: left;
    font: normal 15px Arial;
    padding: 0.3em 0.5em 0.5em 0.8em;
    overflow: hidden;
    white-space: nowrap;
    width: 15.5em;
    color:#999999;
    font-style:italic;
  }

}

body > footer {

  bottom: -26px;
  width: 100%;
  background-color: #000000;

  div#footer_content{
    width: $app_width;
    margin: 0 auto;
    color: #FFFFFF;
    padding: 7px;
    font-family: "MuseoSans500","Arial";
    font-size: 11px;
    font-weight: normal;

    a {
      color: white;
      }
    }
}


