@font-face {
    font-family: 'MuseoSans500';
    src: url('/fonts/museosans_500-webfont.eot');
    src: url('/fonts/museosans_500-webfont.eot?iefix') format('eot'),
         url('/fonts/museosans_500-webfont.woff') format('woff'),
         url('/fonts/museosans_500-webfont.ttf') format('truetype'),
         url('/fonts/museosans_500-webfont.svg#webfontaJIEhST4') format('svg');
    font-weight: normal;
    font-style: normal;
}
