ul {
  display: inline-block;
  width: 100%; }
  ul li {
    list-style: none; }
    ul li div.top {
      display: block;
      width: 546px;
      padding: 5px 0 0 0; }
    ul li div.bottom {
      display: block;
      width: 546px;
      padding: 0 0 5px 0; }
    ul li div.middle {
      display: inline-block;
      width: 522px;
      padding: 9px 12px; }
    ul li a.radiobutton {
      display: inline-block;
      width: auto !important;
      padding: 0 0 0 21px;
      margin: 12px 0 0 0;
      font: normal 15px Arial;
      color: #333333;
      text-transform: capitalize;
      text-decoration: none;
      background: url("/images/sprites/setup.png") no-repeat -550px -127px; }
      ul li a.radiobutton:hover {
        background: url("/images/sprites/setup.png") no-repeat -550px -102px; }
    ul li div.options {
      display: none; }
    ul li.selected div.top {
      background: url("/images/backgrounds/top_blue.png") no-repeat 0 0; }
    ul li.selected div.bottom {
      background: url("/images/backgrounds/bottom_blue.png") no-repeat 0 bottom; }
    ul li.selected div.middle {
      background: url("/images/backgrounds/mid_blue.png") repeat-y 0 0; }
    ul li.selected div.options {
      display: inline-block;
      vertical-align: top;
      background: none; }
      ul li.selected div.options.bottom {
        padding-bottom: 10px; }
    ul li.selected a.radiobutton {
      background: url("/images/sprites/setup.png") no-repeat -550px -102px; }
    ul li.selected a.radiobutton:hover {
      cursor: default; }
    ul li form {
      display: inline-block;
      width: 482px;
      margin: 0 0 0 20px; }
      ul li form .field {
        display: inline-block;
        width: 234px;
        margin: 15px 0 0 0; }
        ul li form .field label {
          position: relative;
          display: block;
          width: 234px;
          font: normal 12px "Museo Sans";
          color: #333333;
          text-transform: uppercase; }
        ul li form .field input {
          width: 214px;
          height: 15px;
          margin: 3px 0 0 0;
          padding: 10px 10px 11px;
          font: normal 15px Arial;
          color: #666666;
          line-height: 15px; }
        ul li form .field.last {
          margin: 0 0 0 10px; }
        ul li form .field.database {
          width: 100%; }
        ul li form .field.cartodb {
          width: 100%; }
          ul li form .field.cartodb input {
            width: 461px; }
      ul li form .submit {
        width: 100%;
        text-align: right; }
        ul li form .submit input {
          margin: 20px 0 0; }
