body > div#main_content div.content_box label {
  margin: 0;
  padding: 0 0 7px; }
  body > div#main_content div.content_box label strong {
    color: red;
    font: bold 14px Georgia;
    color: #FF3366; }
body > div#main_content div.content_box span.submit {
  display: inline-block;
  width: 500px;
  height: auto;
  padding: 0;
  margin: 20px 0 0 0; }
  body > div#main_content div.content_box span.submit a {
    margin: 0 !important; }
  body > div#main_content div.content_box span.submit .main_action {
    display: inline-block;
    vertical-align: middle; }
  body > div#main_content div.content_box span.submit .checkbox {
    display: inline-block;
    vertical-align: middle;
    margin: 40px 0 0 20px !important;
    padding: 0 0 0 15px;
    background: url("/images/sprites/htmlArea.png") no-repeat -210px 0px;
    text-decoration: none;
    font: normal 15px Arial;
    color: #333333; }
    body > div#main_content div.content_box span.submit .checkbox:hover {
      background-position: -210px -17px; }
    body > div#main_content div.content_box span.submit .checkbox.checked {
      background-position: -210px -17px; }
  body > div#main_content div.content_box span.submit label.visible {
    display: inline-block;
    vertical-align: middle;
    margin: 42px 0 0 5px; }
body > div#main_content div.content_box div.bubble {
  position: absolute;
  background: blue;
  width: 233px;
  padding: 6px 0 0 0;
  background: url("/images/backgrounds/bubble_top.png") no-repeat -1px 0; }
  body > div#main_content div.content_box div.bubble div.bottom {
    background: url("/images/backgrounds/bubble_bottom.png") no-repeat 0 bottom;
    width: 193px;
    padding: 10px 21px 16px; }
  body > div#main_content div.content_box div.bubble p {
    font: normal 13px Arial;
    color: #999999; }
  body > div#main_content div.content_box div.bubble span.arrow {
    position: absolute;
    left: -14px;
    top: 50%;
    width: 15px;
    height: 15px;
    margin: -7px 0 0 0;
    background: url("/images/sprites/htmlArea.png") no-repeat -192px -16px; }
body > div#main_content div.content_box div.jHtmlArea {
  display: inline-block;
  padding: 0 0 20px 0; }
  body > div#main_content div.content_box div.jHtmlArea div {
    padding: 0px;
    margin: 0px; }
  body > div#main_content div.content_box div.jHtmlArea .ToolBar {
    float: left;
    width: 552px !important;
    height: 37px;
    padding: 3px 10px;
    background: url("/images/sprites/htmlArea.png") no-repeat 0 -500px; }
  body > div#main_content div.content_box div.jHtmlArea .ToolBar ul {
    margin: 1px;
    padding: 1px;
    float: left; }
    body > div#main_content div.content_box div.jHtmlArea .ToolBar ul li {
      list-style-type: none;
      float: left;
      border: none;
      padding: 1px;
      margin: 7px 2px 0 !important; }
      body > div#main_content div.content_box div.jHtmlArea .ToolBar ul li:hover {
        border: solid 1px #ccc;
        background: #dddddd !important;
        padding: 0; }
      body > div#main_content div.content_box div.jHtmlArea .ToolBar ul li a {
        display: block;
        width: 16px;
        height: 16px;
        background: url("/images/sprites/htmlArea.png") no-repeat -16px -500px;
        border: none;
        cursor: pointer;
        padding: 0px; }
        body > div#main_content div.content_box div.jHtmlArea .ToolBar ul li a.highlighted {
          border: solid 1px #aaa;
          background-color: #bbb;
          padding: 0; }
      body > div#main_content div.content_box div.jHtmlArea .ToolBar ul li.separator {
        height: 16px;
        margin: 0 2px 0 3px;
        border-left: 1px solid #ccc; }
        body > div#main_content div.content_box div.jHtmlArea .ToolBar ul li.separator:hover {
          padding: 1px;
          background-color: #fff;
          border-top: none;
          border-bottom: none;
          border-right: none; }
      body > div#main_content div.content_box div.jHtmlArea .ToolBar ul li a.bold {
        background-position: 0 0; }
      body > div#main_content div.content_box div.jHtmlArea .ToolBar ul li a.italic {
        background-position: -16px 0; }
      body > div#main_content div.content_box div.jHtmlArea .ToolBar ul li a.underline {
        background-position: -32px 0; }
      body > div#main_content div.content_box div.jHtmlArea .ToolBar ul li a.strikethrough {
        background-position: -48px 0; }
      body > div#main_content div.content_box div.jHtmlArea .ToolBar ul li a.link {
        background-position: -64px 0; }
      body > div#main_content div.content_box div.jHtmlArea .ToolBar ul li a.unlink {
        background-position: -80px 0; }
      body > div#main_content div.content_box div.jHtmlArea .ToolBar ul li a.orderedlist {
        background-position: -96px 0; }
      body > div#main_content div.content_box div.jHtmlArea .ToolBar ul li a.unorderedlist {
        background-position: -112px 0; }
      body > div#main_content div.content_box div.jHtmlArea .ToolBar ul li a.image {
        background-position: -128px 0; }
      body > div#main_content div.content_box div.jHtmlArea .ToolBar ul li a.cut {
        background-position: -144px 0; }
      body > div#main_content div.content_box div.jHtmlArea .ToolBar ul li a.copy {
        background-position: -160px 0; }
      body > div#main_content div.content_box div.jHtmlArea .ToolBar ul li a.paste {
        background-position: -176px 0; }
      body > div#main_content div.content_box div.jHtmlArea .ToolBar ul li a.html {
        background-position: -192px 0;
        opacity: 0.6;
        filter: alpha(opacity=60); }
        body > div#main_content div.content_box div.jHtmlArea .ToolBar ul li a.html.highlighted {
          opacity: 1.0;
          filter: alpha(opacity=100); }
      body > div#main_content div.content_box div.jHtmlArea .ToolBar ul li a.h1 {
        background-position: 0 -16px; }
      body > div#main_content div.content_box div.jHtmlArea .ToolBar ul li a.h2 {
        background-position: -16px -16px; }
      body > div#main_content div.content_box div.jHtmlArea .ToolBar ul li a.h3 {
        background-position: -32px -16px; }
      body > div#main_content div.content_box div.jHtmlArea .ToolBar ul li a.h4 {
        background-position: -48px -16px; }
      body > div#main_content div.content_box div.jHtmlArea .ToolBar ul li a.h5 {
        background-position: -64px -16px; }
      body > div#main_content div.content_box div.jHtmlArea .ToolBar ul li a.h6 {
        background-position: -80px -16px; }
      body > div#main_content div.content_box div.jHtmlArea .ToolBar ul li a.subscript {
        background-position: -96px -16px; }
      body > div#main_content div.content_box div.jHtmlArea .ToolBar ul li a.superscript {
        background-position: -112px -16px; }
      body > div#main_content div.content_box div.jHtmlArea .ToolBar ul li a.indent {
        background-position: -128px -16px; }
      body > div#main_content div.content_box div.jHtmlArea .ToolBar ul li a.outdent {
        background-position: -144px -16px; }
      body > div#main_content div.content_box div.jHtmlArea .ToolBar ul li a.horizontalrule {
        background-position: -160px -16px; }
      body > div#main_content div.content_box div.jHtmlArea .ToolBar ul li a.p {
        background-position: -176px -16px; }
      body > div#main_content div.content_box div.jHtmlArea .ToolBar ul li a.justifyleft {
        background-position: 0 -32px; }
      body > div#main_content div.content_box div.jHtmlArea .ToolBar ul li a.justifycenter {
        background-position: -16px -32px; }
      body > div#main_content div.content_box div.jHtmlArea .ToolBar ul li a.justifyright {
        background-position: -32px -32px; }
      body > div#main_content div.content_box div.jHtmlArea .ToolBar ul li a.increasefontsize {
        background-position: -48px -32px; }
      body > div#main_content div.content_box div.jHtmlArea .ToolBar ul li a.decreasefontsize {
        background-position: -64px -32px; }
      body > div#main_content div.content_box div.jHtmlArea .ToolBar ul li a.forecolor {
        background-position: -80px -32px; }
