body > div#main_content div.content_box {
  label {
    margin:0;
    padding:0 0 7px;

    strong {
      color:red;
      font:bold 14px Georgia;
      color:#FF3366;
    }

  }

  span.submit {
    display:inline-block;
    width:500px;
    height:auto;
    padding:0;
    margin:20px 0 0 0;

    a {
      margin:0!important;
    }

    .main_action {
      display:inline-block;
      vertical-align: middle;
    }

    .checkbox {
      display:inline-block;
      vertical-align: middle;
      margin:40px 0 0 20px!important;
      padding:0 0 0 15px;
      background:url('/images/sprites/htmlArea.png') no-repeat -210px 0px;
      text-decoration:none;
      font:normal 15px Arial;
      color:#333333;

      &:hover {
        background-position: -210px -17px;
      }

      &.checked {
        background-position: -210px -17px;
      }
    }

    label.visible{
      display: inline-block;
      vertical-align: middle;
      margin: 46px 0 0 5px;
    }
  }

  div.bubble {
    position:absolute;
    background:blue;
    width:233px;
    padding:6px 0 0 0;
    background:url('/images/backgrounds/bubble_top.png') no-repeat -1px 0;

    div.bottom {
      background:url('/images/backgrounds/bubble_bottom.png') no-repeat 0 bottom;
      width:193px;
      padding:10px 21px 16px;
    }

    p {
      font:normal 13px Arial;
      color:#999999;
    }

    span.arrow {
      position:absolute;
      left:-14px;
      top:50%;
      width:15px;
      height:15px;
      margin:-7px 0 0 0;
      background:url('/images/sprites/htmlArea.png') no-repeat -192px -16px;
    }
  }


  div.jHtmlArea {
    display: inline-block;
    padding:0 0 20px 0;

    div {
      padding: 0px;
      margin: 0px; }
    .ToolBar {
      float:left;
      width:552px!important;
      height:37px;
      padding:3px 10px;
      background:url('/images/sprites/htmlArea.png') no-repeat 0 -500px;


    }
    .ToolBar ul {
      margin: 1px;
      padding: 1px;
      float: left;

      li {
        list-style-type: none;
        float: left;
        border: none;
        padding: 1px;
        margin: 7px 2px 0!important;
        &:hover {
          border: solid 1px #ccc;
          background: #dddddd!important;
          padding: 0; }
        a {
          display: block;
          width: 16px;
          height: 16px;
          background: url('/images/sprites/htmlArea.png') no-repeat -16px -500px;
          border: none;
          cursor: pointer;
          padding: 0px;
          &.highlighted {
            border: solid 1px #aaa;
            background-color: #bbb;
            padding: 0; } }
        &.separator {
          height: 16px;
          margin: 0 2px 0 3px;
          border-left: 1px solid #ccc;
          &:hover {
            padding: 1px;
            background-color: #fff;
            border-top: none;
            border-bottom: none;
            border-right: none; } }
        a {
          &:hover {}
          &.bold {
            background-position: 0 0; }
          &.italic {
            background-position: -16px 0; }
          &.underline {
            background-position: -32px 0; }
          &.strikethrough {
            background-position: -48px 0; }
          &.link {
            background-position: -64px 0; }
          &.unlink {
            background-position: -80px 0; }
          &.orderedlist {
            background-position: -96px 0; }
          &.unorderedlist {
            background-position: -112px 0; }
          &.image {
            background-position: -128px 0; }
          &.cut {
            background-position: -144px 0; }
          &.copy {
            background-position: -160px 0; }
          &.paste {
            background-position: -176px 0; }
          &.html {
            background-position: -192px 0;
            opacity: 0.6;
            filter: alpha(opacity = 60);
            &.highlighted {
              opacity: 1.0;
              filter: alpha(opacity = 100); } }
          &.h1 {
            background-position: 0 -16px; }
          &.h2 {
            background-position: -16px -16px; }
          &.h3 {
            background-position: -32px -16px; }
          &.h4 {
            background-position: -48px -16px; }
          &.h5 {
            background-position: -64px -16px; }
          &.h6 {
            background-position: -80px -16px; }
          &.subscript {
            background-position: -96px -16px; }
          &.superscript {
            background-position: -112px -16px; }
          &.indent {
            background-position: -128px -16px; }
          &.outdent {
            background-position: -144px -16px; }
          &.horizontalrule {
            background-position: -160px -16px; }
          &.p {
            background-position: -176px -16px; }
          &.justifyleft {
            background-position: 0 -32px; }
          &.justifycenter {
            background-position: -16px -32px; }
          &.justifyright {
            background-position: -32px -32px; }
          &.increasefontsize {
            background-position: -48px -32px; }
          &.decreasefontsize {
            background-position: -64px -32px; }
          &.forecolor {
            background-position: -80px -32px; } } } } }

}