<% content_for :stylesheets do %>
  <%= stylesheet_link_tag 'setup/index', 'setup/step0' %>
<% end %>

<div class="small_content_box">
  <h1 class="lowered"><%= t('.congrats') %></h1>
  <p class="success_message"><%= t('.success') %></p>
  <%= link_to t('.start'), setup_path(:step_id => 1), :class => 'main_action' %>
</div>

