<% content_for :javascripts do %>
<%= javascript_include_tag 'jquery.1.5.1.js', 'admin/setup/index.js' %>
<% end %>

<% content_for :stylesheets do %>
  <%= stylesheet_link_tag 'setup/index.css' %>
  <%= stylesheet_link_tag 'setup/step3.css' %>
<% end %>

<%= render 'step_indicator', :step=>3 %>

<div class="small_content_box">
  <h1>Import your data</h1>
  <p>You need to import your data into a cartoDB table before continuing.</p>

  <div class="shadowed">
    <a href="" class="red_button">select</a><span class="message">Select a data file (CSV,XLS) from your computer</span>
  </div>
  <a href="step4" class="main_action right disabled">Use this table</a>
</div>