@font-face {
  font-family: 'MuseoSans500';
  src: url("/fonts/museosans_500-webfont.eot");
  src: url("/fonts/museosans_500-webfont.eot?iefix") format("eot"), url("/fonts/museosans_500-webfont.woff") format("woff"), url("/fonts/museosans_500-webfont.ttf") format("truetype"), url("/fonts/museosans_500-webfont.svg#webfontaJIEhST4") format("svg");
  font-weight: normal;
  font-style: normal; }

body {
  background-color: #4780a5;
  font-family: Arial;
  font-size: 16px;
  margin: 0; }

ol.step_indicator {
  margin: 150px auto 30px auto;
  bottom: 100px;
  width: 588px; }
  ol.step_indicator li {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    *display: inline;
    width: 161px;
    margin: 0 30px 0 0;
    font-family: "MuseoSans500","Arial";
    font-size: 15px;
    font-weight: normal;
    color: #b6cddc; }
    ol.step_indicator li.selected {
      color: white; }
    ol.step_indicator li span.step_number {
      display: -moz-inline-stack;
      display: inline-block;
      vertical-align: top;
      zoom: 1;
      *display: inline;
      float: left;
      display: block;
      width: 15px;
      height: 15px;
      padding: 2px;
      margin: 0 6px 0 0;
      border: 1px solid #b6cddc;
      -moz-border-radius: 10px;
      -webkit-border-radius: 10px;
      border-radius: 10px;
      line-height: 15px;
      text-align: center; }
      ol.step_indicator li span.step_number.selected {
        border: 1px solid white; }
    ol.step_indicator li span.step_description {
      float: left;
      display: -moz-inline-stack;
      display: inline-block;
      vertical-align: top;
      zoom: 1;
      *display: inline;
      margin: 3px 0 0 0; }

div.small_content_box {
  width: 584px;
  margin: 0 auto;
  padding: 30px;
  background: #FFFFFF;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 0px 3px 3px #407292;
  -webkit-box-shadow: 0px 3px 3px #407292;
  box-shadow: 0px 3px 3px #407292; }
  div.small_content_box h1 {
    margin: 0 0 15px 0;
    font-family: "MuseoSans500","Arial";
    font-size: 25px;
    font-weight: normal;
    color: #333333; }
  div.small_content_box p {
    font-family: "MuseoSans500","Arial";
    font-size: 15px;
    font-weight: normal;
    color: #666666; }

div.help {
  margin: 15px 0 0 0;
  font-family: "MuseoSans500","Arial";
  font-size: 13px;
  font-weight: normal;
  color: #B6CDDC;
  text-align: center; }
  div.help a {
    color: #b6cddc; }

.main_action {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
  vertical-align: middle;
  padding: 7px 15px;
  border: 1px solid #6e9400;
  font-family: "MuseoSans500","Arial";
  font-size: 19px;
  font-weight: normal;
  color: white;
  text-shadow: 0 1px 0 #537000;
  text-decoration: none;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-image: -moz-linear-gradient(top, #95c700, #88b600);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #95c700), color-stop(1, #88b600));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='$top_color', EndColorStr='$bottom_color');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='$top_color', EndColorStr='$bottom_color')"; }
  .main_action:hover {
    background-image: -moz-linear-gradient(top, #88b600, #95c700);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #88b600), color-stop(1, #95c700));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='$top_color', EndColorStr='$bottom_color');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='$top_color', EndColorStr='$bottom_color')"; }
  .main_action:active {
    background-image: -moz-linear-gradient(top, #88b600, #95c700);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #88b600), color-stop(1, #95c700));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='$top_color', EndColorStr='$bottom_color');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='$top_color', EndColorStr='$bottom_color')";
    -moz-box-shadow: inset 0 3px 3px rgba(102, 102, 102, 0.7);
    -webkit-box-shadow: inset 0 3px 3px rgba(102, 102, 102, 0.7);
    box-shadow: inset 0 3px 3px rgba(102, 102, 102, 0.7); }

input[type="text"] {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: url(/images/bg_input.png) repeat-x 0 0 white;
  height: 34px;
  border: 1px solid #CCCCCC;
  font: normal 15px Arial;
  color: #999;
  padding: 0 15px;
  margin: 0 0 25px 0; }
