@font-face {
  font-family: 'MuseoSans500';
  src: url("/fonts/museosans_500-webfont.eot");
  src: url("/fonts/museosans_500-webfont.eot?iefix") format("eot"), url("/fonts/museosans_500-webfont.woff") format("woff"), url("/fonts/museosans_500-webfont.ttf") format("truetype"), url("/fonts/museosans_500-webfont.svg#webfontaJIEhST4") format("svg");
  font-weight: normal;
  font-style: normal; }

div.shadowed {
  margin: 20px 0 0 0;
  padding: 20px;
  background: #DFE5EB;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  font-family: "MuseoSans500","Arial";
  font-size: 15px;
  color: #666666; }

a.selector {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
  background: url(/images/select.png);
  color: #333333;
  padding: 8px 10px;
  width: 189px;
  cursor: pointer; }

ul.selector_values {
  position: absolute;
  display: none;
  width: 207px;
  background-image: -moz-linear-gradient(top, white, #f1f1f1);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, white), color-stop(1, #f1f1f1));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='$top_color', EndColorStr='$bottom_color');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='$top_color', EndColorStr='$bottom_color')";
  border-left: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  -moz-border-radius: 0 0 5px 5px;
  -webkit-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
  -moz-box-shadow: 0px 2px 5px #cccccc;
  -webkit-box-shadow: 0px 2px 5px #cccccc;
  box-shadow: 0px 2px 5px #cccccc; }
  ul.selector_values li {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    *display: inline;
    width: 193px;
    padding: 10px 10px; }
    ul.selector_values li a {
      color: #666666;
      text-decoration: none; }
      ul.selector_values li a:hover {
        color: #333333; }

span#new_table {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
  margin: 7px; }

a.main_action {
  margin: 20px 0 0 0; }

a {
  color: #FF3366; }

span.message {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
  padding: 7px 0 0 0;
  font-family: "Arial";
  font-size: 15px;
  font-style: italic;
  font-weight: normal;
  color: #999999; }

table.data {
  width: 100%;
  margin: 20px 0 0 0;
  border: 1px solid #AFB9BE; }
  table.data th {
    padding: 10px;
    font-family: "Arial";
    font-size: 11px;
    font-weight: normal;
    text-align: left;
    color: #26465A;
    background-image: -moz-linear-gradient(top, #dbe7ee, #d1dce3);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #dbe7ee), color-stop(1, #d1dce3));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='$top_color', EndColorStr='$bottom_color');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='$top_color', EndColorStr='$bottom_color')";
    text-shadow: 0 1px 0 #FFFFFF; }
  table.data tr {
    padding: 20px;
    background-color: #FFFFFF; }
    table.data tr:nth-child(odd) {
      background-color: #FAFAFA; }
  table.data td {
    padding: 20px 10px 20px 10px;
    border-top: 1px solid #E3E3E3;
    font-family: "Arial";
    font-size: 15px;
    font-weight: normal;
    color: #949494; }
    table.data td.first {
      border-top: 1px solid #CCCCCC; }
