input[type="text"]#appname {
  width: 552px;
  margin: 20px 0 20px 0;
  font-size: 19px;
  color: #999999; }

.right {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline; }
