@font-face {
    font-family: 'MuseoSans500';
    src: url(asset-url('/fonts/museosans_500-webfont.eot', 'font'));
    src: url(asset-url('/fonts/museosans_500-webfont.eot?iefix', 'font')) format('eot'),
         url(asset-url('/fonts/museosans_500-webfont.woff', 'font')) format('woff'),
         url(asset-url('/fonts/museosans_500-webfont.ttf', 'font')) format('truetype'),
         url(asset-url('/fonts/museosans_500-webfont.svg#webfontaJIEhST4', 'font')) format('svg');
    font-weight: normal;
    font-style: normal;
}
