<ol class="step_indicator">
  <li class="<%= "selected" if step==1%>">
    <span class="step_number">1</span>
    <span class="step_description">Your CartoDB</span>
  </li>
  <li class="<%= "selected" if step==2%>">
    <span class="step_number">2</span>
    <span class="step_description">Your CartoSet</span>
  </li>
  <li class="<%= "selected" if step==3%>">
    <span class="step_number">3</span>
    <span class="step_description">Your Data</span>
  </li>
</ol>