<ol class="step_indicator">
  <li class="selected" id="cartodb_step">
    <span class="step_number selected">1</span>
    <span class="step_description">Your CartoDB</span>
  </li>
  <li id="cartoset_step">
    <span class="step_number">2</span>
    <span class="step_description">Your CartoSet</span>
  </li>
  <li id="data_step">
    <span class="step_number">3</span>
    <span class="step_description">Your Data</span>
  </li>
</ol>