@import 'main.mixins.scss';

form{
  position: relative;

  label{
    display: none;
    position: absolute;
    top: 27px;
    left: 10px;
    font-size: 19px;
    color: #999999;
  }

  input#settings_app_name {
    width: 552px;
    margin: 20px 0 20px 0;
    font-size: 19px;
    color: #999999;
  }

  .main_action{
    float: right;
  }

  &:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
}



.right {
  @include inline-block;
}