/* BASE */
/* ADMIN LAYOUT */
/* DASHBOARD */
div.table #search {
  float: right;
  position: relative;
  width: 487px;
  margin: 23px 0; }
  div.table #search label {
    display: none;
    position: absolute;
    left: 5px;
    color: #999999;
    line-height: 30px;
    z-index: 1; }
  div.table #search input[type=text] {
    position: absolute;
    left: 0;
    top: 0;
    width: 371px;
    margin: 0;
    padding: 5px 0;
    border-width: 1px;
    border-style: solid;
    border-color: #cccccc;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -moz-box-shadow: inset 0px 7px 7px #efefef;
    -webkit-box-shadow: inset 0px 7px 7px #efefef;
    box-shadow: inset 0px 7px 7px #efefef;
    font-size: inherit; }
  div.table #search input[type=submit] {
    position: absolute;
    top: 7px;
    left: 350px;
    width: 16px;
    height: 16px;
    border: 0 none;
    color: transparent;
    background: transparent url("/images/sprites/admin.png") no-repeat scroll 0 0; }
  div.table #search #prev_page, div.table #search #next_page {
    position: absolute;
    top: 0px;
    display: block;
    width: 35px;
    height: 28px;
    background-image: -moz-linear-gradient(top, #4880a5, #3a6988);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #4880a5), color-stop(1, #3a6988));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='$top_color', EndColorStr='$bottom_color');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='$top_color', EndColorStr='$bottom_color')";
    border: 1px solid black;
    color: transparent; }
    div.table #search #prev_page:hover, div.table #search #next_page:hover {
      background-image: -moz-linear-gradient(top, #3a6988, #4880a5);
      background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #3a6988), color-stop(1, #4880a5));
      filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='$top_color', EndColorStr='$bottom_color');
      -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='$top_color', EndColorStr='$bottom_color')"; }
    div.table #search #prev_page:active, div.table #search #next_page:active {
      background-image: -moz-linear-gradient(top, #3a6988, #4880a5);
      background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #3a6988), color-stop(1, #4880a5));
      filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='$top_color', EndColorStr='$bottom_color');
      -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='$top_color', EndColorStr='$bottom_color')";
      -moz-box-shadow: inset 0px 3px 7px #333333;
      -webkit-box-shadow: inset 0px 3px 7px #333333;
      box-shadow: inset 0px 3px 7px #333333; }
    div.table #search #prev_page span, div.table #search #next_page span {
      position: absolute;
      top: 50%;
      left: 50%;
      margin-left: -3px;
      margin-top: -4px;
      display: block;
      width: 6px;
      height: 9px; }
  div.table #search #prev_page {
    -moz-border-radius: 7px 0 0 7px;
    -webkit-border-radius: 7px 0 0 7px;
    border-radius: 7px 0 0 7px;
    left: 391px; }
    div.table #search #prev_page span {
      background: transparent url("/images/sprites/admin.png") no-repeat scroll -16px 0; }
  div.table #search #next_page {
    -moz-border-radius: 0 7px 7px 0;
    -webkit-border-radius: 0 7px 7px 0;
    border-radius: 0 7px 7px 0;
    left: 426px; }
    div.table #search #next_page span {
      background: transparent url("/images/sprites/admin.png") no-repeat scroll -22px 0; }
