$background: #4780A5;

$main_action_background_gradient_top:    #95C700;
$main_action_background_gradient_bottom: #88B600;
$main_action_font:                       #FFFFFF;
$main_action_font_shadow:                #537000;
$main_action_border:                     #6E9400;

$select_text:  #333333;
$select_top:  #F9F9F9;
$select_bottom: #F1F1F1;

$steps_selected:  #FFFFFF;
$steps_unselected:  #B6CDDC;
$help_message:  #B6CDDC;

$data_table_header_top: #DBE7EE;
$data_table_header_bottom: #D1DCE3;