@import 'main.fonts.scss';
@import 'main.mixins.scss';
@import 'mixins.css3.scss';
@import 'register/register.colors.scss';

div.shadowed {

  margin: 20px 0 0 0;
  padding: 20px;
  background: #DFE5EB;  
  @include border-radius(3px);
  font-family: "MuseoSans500","Arial";
  font-size: 15px;  
  color: #666666;

}

div.selector {
  @include inline-block;
  background: url(/images/select.png);
  color: $select_text;
  padding: 8px;  
  width: 193px;
}

span#new_table{
  @include inline-block;
  margin: 7px; 
}

a.main_action {
  margin: 20px 0 0 0;
}

a{
  color: #FF3366;
}

table.data {
  
  width: 100%; 
  margin: 20px 0 0 0;
  border: 1px solid #AFB9BE;

  th {
      padding: 10px;
      font-family: "Arial";
      font-size: 11px;
      font-weight: normal;
      text-align: left;
      color: #26465A;
      @include gradient($data_table_header_top, $data_table_header_bottom);
      text-shadow: 0 1px 0 #FFFFFF;
  }
  
  tr {
    padding: 20px;
  
  }
  
  td {
      padding: 20px 10px 20px 10px;
      border-top: 1px solid #E3E3E3;
      background-color: #FFFFFF;
      font-family: "Arial";
      font-size: 15px;
      font-weight: normal;
      color: #949494;
      
      &.first {
        border-top: 1px solid #CCCCCC;      
      }
  }
  

}
