<% content_for :javascripts do %>
<%= javascript_include_tag 'jquery.1.5.1.js', 'admin/register/index.js' %>
<% end %>

<% content_for :stylesheets do %>
  <%= stylesheet_link_tag 'register/index.css' %>
  <%= stylesheet_link_tag 'register/step4.css' %>    
<% end %>

<div class="small_content_box">
  <h1>Done!</h1>
  <p>It looks like you have your CartoSet running in your server. Now..</p>
  
  <div class="shadowed">
    <div class="suggestion" id="manage_data">
      <h2>Manage your data</h2>
      <p>Change and clean your data, geolocalize your features...</p>
      <a href="">CartoDB table</a>
    </div>
    <div class="suggestion" id="manage_site">
      <h2>Manage your site</h2>
      <p>Add images and videos, create additional pages...</p>
      <a href="">CartoSet backoffice</a>      
    </div>
    <div class="suggestion last" id="public_site">
      <h2>Go to your site</h2>
      <p>Check how your users will see your site....</p>      
      <a href="">Public site</a>      
    </div>    
  </div>
</div>