<% content_for :javascripts do %>
<%= javascript_include_tag 'jquery.1.5.1.js', 'admin/register/index.js' %>
<% end %>

<% content_for :stylesheets do %>
  <%= stylesheet_link_tag 'register/index.css' %>
  <%= stylesheet_link_tag 'register/step1.css' %>    
<% end %>

<%= render 'register/shared/step_indicator' %>

<div class="small_content_box">
  <h1>Connect your app with CartoDB</h1>
  <p>CartoSet stores its data in CartoDB, a powerful cloud-based database for geolocated data.</p>
  <a href="step2" class="main_action">Connect with CartoDB</a>
</div>