<% content_for :javascripts do %>
<%= javascript_include_tag 'jquery.1.5.1.js', 'admin/register/index.js' %>
<% end %>

<% content_for :stylesheets do %>
  <%= stylesheet_link_tag 'register/index.css' %>
  <%= stylesheet_link_tag 'register/step3.css' %>    
<% end %>

<%= render 'register/shared/step_indicator' , :step=>1%>

<div class="small_content_box">
  <h1>Import your data</h1>
  <p>Select which CartoDB table you want to use for this CartoSet. If you don't have tables created you will be able to create a new one.</p>
  
  <div class="shadowed">
    <div class="selector">Select table</div> <span id="new_table">or <a href="">create a new one</a></span>
  </div>
  <input id="table" type="hidden"/><a href="step4" class="main_action right">Use this table</a>
</div>