<h2><%= @feature.name %></h2>
<div>
  <span class="label">latitude: </span><span><%= @feature.latitude %></span>
</div>
<div>
  <span class="label">longitude: </span><span><%= @feature.longitude %></span>
</div>
<div>
  <span class="label">description:</span>
  <p><%= @feature.description %></p>
</div>
