<h2><%= @feature.title %></h2>
<div>
  <span class="label">GEOM: </span><span><%= @feature.the_geom %></span>
</div>
<div>
  <span class="label">description:</span>
  <p><%= @feature.description %></p>
</div>
