<header>
  <div id="header_content">
    <h1 id="logo">CartoSet</h1>
    <nav>
      <ul>
        <li><%= link_to t('.features'), '#' %></li>
        <li><%= link_to t('.pages'), '#' %></li>
        <li><%= link_to t('.settings'), '#' %></li>
        <li><%= link_to t('.close_session'), '#', :class => 'close_session' %></li>
      </ul>
    </nav>
  </div>
</header>